@font-face {
  font-family: 'ForbiddenLand';
  src: url('ForbiddenLand-2rg3.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
h1 {
color: red;
text-align: center;
}
h1, h3 {
background-color: black;
font-family: 'ForbiddenLand', Arial, sans-serif;

}
h2 {
background-color: black;
color: rgb(255, 255, 255);
font-family: 'ForbiddenLand', Arial, sans-serif;
text-align: center;
}
body {
background-color: rgb(227, 197, 255);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, arial, sans-serif
}
/* Make all paragraphs blue */
p {
color: rgb(0, 0, 128);
font-size: 18px;
}
/* Make the main heading red */
